body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
 
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 31, 96);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
