.frienditemlist-container {
    padding: 0rem 1rem 0 1rem;

    .frienditem-list {
        list-style-type: none;
        padding: 0;

        li {
            border-bottom: 1px dotted darkslateblue;
        }
    }
}