.msgbox{
    min-height: 11rem;
    width: 80%;
    color: aliceblue;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    background-color: darkslateblue;
}