.newitem-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-bottom: inherit;
    background-color: rgb(241, 178, 220);

    div {
        display: flex;
        flex-direction: row;

        label {
            min-width: 40%;
            text-align: right;
            margin-right: 1rem;
        }

        button[type=submit] {
            font-family: 'Courier New', Courier, monospace;
            margin-left: calc(40% + 1rem);
            min-width: 20%;
            border: 1px ridge darkslateblue;
            border-radius: 5px;
            color: aliceblue;
            font-style: italic;
            font-weight: 700;
            padding: 0.3rem;
            background-color: rgb(166, 36, 136);
        }
    }

    h3 {
        padding: 0;
        margin: 0;
    }
}